:root {

}

* {

}

hr {
    border: 1px;
}

.peg {
    height: 32px;
    width: 32px;
    margin: 32px;
}

.peg-container {
    display: flex;
    flex-direction: row;
    background-color: cadetblue;

}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#indigo {
    background-color: indigo;
}

#violet {
    background-color: violet;
}

.guess {
    background-color: black;
    height: 32px;
    width: 32px;
}

.dropzone {

}

#a1 {

}